<div>
  <div class="header" style="position: relative;z-index:99">
    <div class="p-grid p-nogutter" style="box-shadow: 0 0 4px gray;">
      <div class="p-col-fixed" style="width:250px;height:65px;">
        <div style="padding:16px;background-color:white;height:65px;">
          <div style="text-align: center;display: inline-block;cursor:pointer;  outline:none;box-shadow: none;">
            <img src="./assets/logo.jpg" style="height: 30px; width: auto; " alt="FYI, image alt text is required" />
          </div>
        </div>
      </div>
      <div class="p-col">
        <div style="padding:16px;background-color:#102542;display:flex; height: 100%;">
          <!-- <button [disabled]="isRefreshing" (click)="refresh()" style="margin-left:auto;float:right;" pButton
            type="button" label="Refresh" icon="pi pi-refresh" class="ui-button-rounded ui-button-success"></button> -->
        </div>
      </div>
    </div>
  </div>
</div>


<div style="height:calc(100% - 67px);width:100%;padding:20px;display:flex;">
  <div class="con-box">
    <div style="height:50%;padding:20px">

      <plotly-plot divId="AP" *ngIf="objPlot" [data]="objPlot[0].data" [layout]="objPlot[0].layout"
        [config]="objPlot[0].config">
      </plotly-plot>

    </div>
    <div style="height:50%;padding:20px;">
      <plotly-plot divId="RE" *ngIf="objPlot" [data]="objPlot[1].data" [layout]="objPlot[1].layout"
        [config]="objPlot[1].config">
      </plotly-plot>
    </div>
  </div>
  <!-- <plotly-plot  divId="RE" *ngIf="objPlot" [data]="objPlot[1].data" [layout]="objPlot[1].layout"
  [config]="objPlot[1].config">
</plotly-plot> -->
</div>

<!-- 
<div style="overflow-y:auto;width:100%; height:calc(100% - 67px);">
    
  <div style="max-height:max-content;padding:16px">

    <p-card>
      <fa-icon [icon]="menuIcon" size="lg" class='icon-menu'></fa-icon>
      &nbsp;
      MCA DEMO
      <hr>
      <br />

      <div class="p-grid">
        <div [ngClass]="{'p-col-12' : innerWidth < 576, 'p-col-fixed' : innerWidth >= 576 }"
          [ngStyle]="{'width': innerWidth > 992 ? '450px' : '100%'}">
          <p-card>
            <p>Overall Failure Mode Status</p>
            <hr>
            <div class="p-grid">

              <p-card class="p-col-12 p-sm-6 p-md-6 p-xl-6"
                [style]="{'background-color':'#1976d2','color':'white','height':'165px','text-align':'center'}">
                <h3 style="margin:0px;text-align: left;">
                  <fa-icon [icon]="updateIcon"></fa-icon> Updated Date
                </h3>
                <p style="font-size:56px;"> {{objFMStatus.updateDate | date: "HH:mm"}}</p>
                <p style="font-size:13px;">{{objFMStatus.updateDate | date: "EEEE,MMMM d,yyyy"}}</p>
              </p-card>
              <p-card class="p-col-12 p-sm-6 p-md-6 p-xl-6"
                [style]="{'background-color':setColorStatus(objFMStatus.ovaFlg),'color':'white','height':'165px','text-align':'center'}">
                <h3 style="margin:0px;text-align:left;">
                  <fa-icon [icon]="overallIcon"></fa-icon> Overall Health
                </h3>
                <p style="font-size:42px;padding-top:20px;">{{objFMStatus.ovaStatus}}</p>
              </p-card>
              <p-card class="p-col-12 p-sm-6 p-md-6 p-xl-6"
                [style]="{'background-color':'#909090','color':'white','height':'165px','text-align':'center'}">
                <h3 style="margin:0px;text-align:left;">
                  Model Condition</h3>
                <p style="font-size:56px;">{{objFMStatus.modelCondition}}</p>
              </p-card>
              <p-card class="p-col-12 p-sm-6 p-md-6 p-xl-6"
                [style]="{'height':'165px','text-align':'center','position':'relative'}">
                <div style="padding-top:18px;margin: 0 auto;      display: inline-block;
                vertical-align: top;">
                  <p style="font-weight:bold;font-size:13px;text-align:left;">
                    <fa-icon [icon]="statusIcon" size="lg" class="font-normal-status"></fa-icon> Normal ( > 50%)
                  </p>
                  <br>
                  <p style="font-weight:bold;font-size:13px;;text-align:left;">
                    <fa-icon [icon]="statusIcon" size="lg" class="font-warning-status"></fa-icon> Warning (20% - 50%)
                  </p>

                  <br>
                  <p style="font-weight:bold;font-size:13px;;text-align:left;">
                    <fa-icon [icon]="statusIcon" size="lg" class="font-danger-status"></fa-icon> Alarm
                    < 20%)
                  </p>
                </div>
              </p-card>
            </div>
          </p-card>
        </div>
        <div class="p-col">
          <p-card [style]="{'height':'446px'}">
            <p>Current Spectrum</p>
            <hr>
            <button pButton type="button" label="IA" class="ui-button-rounded"
              [ngClass]="{'ui-button-secondary' : switchFlg != 0}" (click)="changeFlg(0)"></button>
            <button pButton type="button" label="IB" class="ui-button-rounded"
              [ngClass]="{'ui-button-secondary' : switchFlg != 1}" (click)="changeFlg(1)"></button>
            <button pButton type="button" label="IC" class="ui-button-rounded "
              [ngClass]="{'ui-button-secondary' : switchFlg != 2}" (click)="changeFlg(2)"></button>

            <div style="width:100%;height:180px">
              <plotly-plot *ngIf="objFreqLow" [data]="objFreqLow[switchFlg].data" [layout]="objFreqLow[switchFlg].layout"
                [config]="objFreqLow[0].config">
              </plotly-plot>
            </div>
            <div style="width:100%;height:180px">
              <plotly-plot *ngIf="objFreqHigh" [data]="objFreqHigh[switchFlg].data" [layout]="objFreqHigh[switchFlg].layout"
                [config]="objFreqHigh[0].config">
              </plotly-plot>
            </div>
          </p-card>
        </div>
      </div>

      <div class="p-grid" style="margin-top:1px;">
        <p-card class="p-col-6">
          <p>Equipment Detail</p>
          <hr>
          <div [ngStyle]="{'height': innerWidth > 992 ? '341px':'auto'}">
            <table class="desc-table">
              <tr *ngFor="let obj of objDesc">
                <ng-container *ngFor='let cells of obj;let i = index'>
                  <td [ngStyle]="{width: (100 / obj.length).toString() + '%' }">
                    <ng-container *ngIf="i % 2 == 0">
                      <h3>{{cells}}</h3>
                    </ng-container>
                    <ng-container *ngIf="i % 2 == 1">
                      <p>{{cells}}</p>
                    </ng-container>
                  </td>
                </ng-container>
              </tr>
            </table>
          </div>
        </p-card>
        <p-card class="p-col-6">
          <p>Motor Picture</p>
          <hr>
          <div [ngStyle]="{'height': innerWidth > 992 ? '341px':'auto'}">

            <img style="max-width:100%;max-height:100%;margin: 0 auto;display: block;
              margin-left: auto;
              margin-right: auto;" [src]="picDiagram">
          </div>
        </p-card>


        <p-card class="p-col-12">
          <p>Time Series Detail
            &nbsp;
            <button pButton type="button" label="IA" class="ui-button-rounded"
              [ngClass]="{'ui-button-secondary' : switchFlg != 0}" (click)="changeFlg(0)"></button>
            <button pButton type="button" label="IB" class="ui-button-rounded"
              [ngClass]="{'ui-button-secondary' : switchFlg != 1}" (click)="changeFlg(1)"></button>
            <button pButton type="button" label="IC" class="ui-button-rounded "
              [ngClass]="{'ui-button-secondary' : switchFlg != 2}" (click)="changeFlg(2)"></button>
          </p>
          <hr>

          <div class="p-grid">
            <div class="p-col-6" style="height:200px;">
              <plotly-plot *ngIf="objResult" [data]="objResult[4].graph[0].data" [layout]="objResult[4].graph[0].layout"
                [config]="objResult[4].graph[0].config">
              </plotly-plot>
            </div>
            <div class="p-col-6" style="height:200px;">
              <plotly-plot *ngIf="objResult" [data]="objResult[5].graph[0].data" [layout]="objResult[5].graph[0].layout"
                [config]="objResult[5].graph[0].config">
              </plotly-plot>
            </div>
            <div class="p-col-6" style="height:200px;">
              <plotly-plot *ngIf="objResult" [data]="objResult[7].graph[switchFlg].data" [layout]="objResult[7].graph[0].layout"
                [config]="objResult[7].graph[0].config">
              </plotly-plot>
            </div>
            <div class="p-col-6" style="height:200px;">
              <plotly-plot *ngIf="objResult" [data]="objResult[6].graph[switchFlg].data" [layout]="objResult[6].graph[0].layout"
                [config]="objResult[6].graph[0].config">
              </plotly-plot>
            </div>

          </div>
        </p-card>

        <p-card class="p-col-12">
          <p>Frequency Detail
            &nbsp;
            <button pButton type="button" label="IA" class="ui-button-rounded"
              [ngClass]="{'ui-button-secondary' : switchFlg != 0}" (click)="changeFlg(0)"></button>
            <button pButton type="button" label="IB" class="ui-button-rounded"
              [ngClass]="{'ui-button-secondary' : switchFlg != 1}" (click)="changeFlg(1)"></button>
            <button pButton type="button" label="IC" class="ui-button-rounded "
              [ngClass]="{'ui-button-secondary' : switchFlg != 2}" (click)="changeFlg(2)"></button>
          </p>
          <hr>

          <div class="p-grid">

            <div class="p-col-6" style="height:200px;">
              <plotly-plot *ngIf="objResult" [data]="objResult[0].graph[switchFlg].data" [layout]="objResult[0].graph[0].layout"
                [config]="objResult[0].graph[0].config">
              </plotly-plot>
            </div>
            <div class="p-col-6" style="height:200px;">
              <plotly-plot *ngIf="objResult" [data]="objResult[1].graph[switchFlg].data" [layout]="objResult[1].graph[0].layout"
                [config]="objResult[1].graph[0].config">
              </plotly-plot>
            </div>
            <div class="p-col-6" style="height:200px;">
              <plotly-plot *ngIf="objResult" [data]="objResult[2].graph[switchFlg].data" [layout]="objResult[2].graph[0].layout"
                [config]="objResult[2].graph[0].config">
              </plotly-plot>
            </div>
            <div class="p-col-6" style="height:200px;">
              <plotly-plot *ngIf="objResult" [data]="objResult[3].graph[switchFlg].data" [layout]="objResult[3].graph[0].layout"
                [config]="objResult[3].graph[0].config">
              </plotly-plot>
            </div>
          </div>
        </p-card>
      </div>
    </p-card>
  
 
    
  </div>
</div> -->